html,
body {
  margin: 0;
  height: 100%;
  /* Sets IOS status bar color in PWA mode (can't use var(--color-background) because it's not set in the root element) */
  background-color: #111113;
  overflow: hidden;
}

@font-face {
  font-family: Mondwest;
  src: url("./fonts/Mondwest-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Non Natural Grotesk;
  src: url("./fonts/NONNaturalGrotesk-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: Non Natural Grotesk;
  src: url("./fonts/NONNaturalGrotesk-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: Non Natural Mono;
  src: url("./fonts/NONNaturalMono-Light.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "BerkeleyMono";
  src: url("./fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2-variations");
  font-display: block;
  font-weight: 100;
}

.radix-themes {
  --default-font-family: "BerkeleyMono" !important;
  --cursor-button: pointer !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 2s ease-in-out infinite;
}

.location-label-tooltip {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.leaflet-control-attribution {
  display: none;
}

@keyframes locationRefresh {
  0% {
    filter: brightness(1) saturate(1);
  }
  15% {
    filter: brightness(1.4) saturate(1.3);
  }
  100% {
    filter: brightness(1) saturate(1);
  }
}

.masonry-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 640px) {
  .masonry-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .masonry-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.rt-Card {
  --backdrop-filter-panel: none;
}
